@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #efefef;
  background: #efefef;
}

.swiper-pagination-bullet {
  background: white;
}

.swiper-pagination-bullet-active {
  background: white;
}

.animated-text p {
  font-size: 3.5vw;
  margin: 0;
  margin-right: 1.5vw;
  font-weight: 700;
}

.animated-text span {
  opacity: 0.2;
}

/* footer .link span::before {
  position: absolute;
  color: #000;
  top: 0;
  left: 0;
  overflow: hidden;
  content: attr(alt);
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

footer .link span:hover::before {
  transform: scale(1);
  opacity: 1;
} */

footer .link span {
  position: relative;
  display: inline-block;
}

footer .link span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 1px solid #000;
  transition: width 0.3s;
}

footer .link span:hover::after {
  width: 100%;
}
